/* .FormUpload input[type='file'] {
  width: 100%;
  padding: 20px;
}

.FormUpload {
  border: 1px solid #bbb;
}

.FormUpload.active {
  background-color: lightgreen;
} */

.FormUpload input[type="file"] {
  opacity: 0;
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: block;
}

.FormUpload .fileInput {
  position: relative;
  display: block;
  box-sizing: border-box;
  border: 4px dashed #777;
}

.FormUpload .fileInput .input_label {
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

