.Student .info h5 {
  font-size: 17px;
}

hr {
  margin: 10px 0;
}

.Student h6 img {
  display: inline-block;
  max-width: 19px;
  margin-right: 10px; 
  margin-bottom: -4px;
}

#trash_info {
  margin-top: 40px;
}

#trash_info h6 {
  margin-bottom: 25px;
}