:root {
  --theme-color: #1976d2;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  font-family: Roboto;
}

.no_margin_padding {
  margin: 0px;
  padding: 0px;
}
.feature_header {
  margin: 0px 0px 16px 0px;
  padding: 0px;
  font-size: 19px;
  /* color: #1e88e5; */
}

.dropdown-content li > a, .dropdown-content li > span {
  color: rgba(0, 0, 0, 0.71);
}
